// BUNNY HAT
//=========================================
.animal-ear.bunny 
	+bx($pink, percentage(10em / $diameter), percentage(25em / $diameter), 10em)	
	left: 10%
	top: - percentage(10em / $diameter)
	+transform-origin( 50% 100% 0)
	+rotate(-5deg)
	+backface-visibility(visible)
	+box-shadow(inset 0px 0px 0px 0.6em rgb(0, 0, 0), inset 0px 0px 0px 3em #fff, inset 0px 0px 0px 3.3em rgb(187, 136, 145))

.animal-ear.bunny.right
	left: auto
	right: 10%
	+rotate(5deg)	

.animal-eye-socket.bunny
	+rotate(0deg)
	width: percentage(5em / $diameter)
	height: percentage(5em / $diameter)
	background-color: transparent	
	left: 10%
	top: 30%

.animal-eye-socket.bunny.right
	left: 70%

.animal-eye-ball.bunny
	+rotate(0deg)
	background-color: black

.animal-eye-pupil.bunny
	+bx($bunny-bg-color, 0.8em, 0.8em)
	+ps(absolute,50%,30%)
	margin-left: -0.4em
	&:before
		+ps(absolute, 0.7em, -0.5em)

.animal-nose.bunny
	@extend %triangle_nose
	top: 40%
	margin-left: -3em

.animal-mouth.bunny
	background-color: $bunny-bg-color
	width: 8em
	height: 5.5em
	left: 50%
	top: 38%
	margin-left: -4em
	+box-shadow(0px 1em 0px 0px #000)
	z-index: 1

// BUNNY ARM
//================
.arm.animal-arm.bunny
	background-color: $bunny-bg-color

// BUNNY LEG
//================
.leg.animal-leg.bunny
	background-color: $bunny-bg-color

// BUNNY TORSO
//================
.torso.animal-torso.bunny
	@extend %animal-torso-light

// FULL BUNNY 
// ================
.animal-head-bg.bunny
	background-color: $bunny-bg-color

// move down facial features on full animals
.animal-head 
	.animal-eye-socket.bunny
		top: 50%
	.animal-nose.bunny 
		top: 60%
	.animal-mouth.bunny
		top: 58%

